/*General styling*/

*{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin:0;
 padding:0;
box-sizing:border-box;
}
html{
     padding-left:3em;
 padding-right: 3em;
}
@font-face {
  font-family: 'source sans pro';
  src: url("C:\Users\MAKARIE\Downloads\source-sans-pro\SourceSansPro-Regular.otf") format('otf');
  font-weight: normal;
  font-style: normal;
}

/*header styling*/

header nav {
    display:flex;
  justify-content: space-between;
    align-items: center;
    padding: 3rem;
    
}
 nav ul{
    display:flex;
    list-style: none;
    gap : 2em;
    font-weight: bold;

}
 ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    
}

/*title area styling*/

.title{
    margin-top: 2rem;
    text-align: center;
    color: white;
}

.tagline{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:12em;
    font-size:.75rem;
    font-weight: bold;
    text-align:center;
}

.btn{
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
    border: none;
    border-radius: 22px;
 width:162px;
 height: 44px;
    background-color: #C271FF;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin:3em auto;
}

.awardpics{
   display:flex;
   align-items: center;
   justify-content: space-evenly;
   font-style: italic;
   font-size: 16px;
}
.awards {
    color: white;
    text-align: center;
    margin-top: 12rem;
}

.mainbg {
    background-image: url(./images/Object.png);
    background-position:top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 989px;
    width: 1440px;
    overflow: auto;
}

/*title fonts styling*/

h1{
    font-size:120px;
}
h2{
    font-size:2rem;
    font-weight:lighter;
    text-align: center;
    margin-top: 1rem;
}
h3{
    font-size:16px;
}
h4{
    color:#C271FF;
    font-weight: bold;
    font-size: .85rem;
}
p{
    font-size: .75rem;
    line-height: 1.5;
}
.highlight{
    color:#C271FF;
    font-weight: bold;
    text-align: center;
}
blockquote{
    font-size: 1rem;
}

/*other parts styling*/

.bluebg{
    background-color: #071629;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
}
.secondpart {
    background-color: #C271FF;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:6em;
    padding:3em;
    color: white;
    width:1440px;
}
.thirdpart {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:3em;
    gap:6em;
}
.fourthpart {
    display:flex;
    align-items: center;
    justify-content: center;
    padding:3em;
    gap:6em;
    text-align: center;
}
.FAQ {
    display:flex;
    align-items: space-evenly;
    justify-content: center;
    padding:3em;
    gap: 6em;
   
}

.star{
 display: flex;
  justify-content: flex-start;
    align-items: center;
    color: #C271FF;
}

.overlay-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo-container {
  position: relative;
 
}

.background-photo {
  width: 100%;
  height: 100%;
}
section{
    margin:0;
}
footer div{
    display: flex;
  justify-content: space-around;
    align-items: center;
    margin:1em;
}
.icons{ 
    gap:2rem;
}
footer p{
    text-align: center;
    padding: 3em;
    color:lightslategrey;
}

